* {
    font-family: JetBrainsMono;
    color: #e5e1cf;
    background: transparent;
}

#window {
    background: #1a1b26;
    margin: 0px;
    padding: 1px;
    border-radius: 40px;
    border: 2px solid #FFD600;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background: #2a2b36;
    color: #e5e1cf;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 15px;
    border-radius: 15px;
}

#entry:selected {
    background-color: #f19618;
    color: #1a1b26;
}

#text {
    margin: 2px;
}
